#landing .tips {
    text-align: left;
}

#landing .heading {
    text-align: center;
    padding: 10px
}


#landing .book-font {
    font-family: 'IM Fell English', serif;
}

#landing .positioning {
    display: flex;
}

#landing .background-gradient {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: radial-gradient(#dee2e6 59%, #2e2e2e);
}

#landing ol {
    font-size: 1.3em;
}