#page .book-font {
    font-family: 'IM Fell English', serif;
}

#page .positioning {
    display: flex;
}

#page .img-sizing {
    width: 100%;
    opacity: 1;
    transition: opacity 3s;
}

#page p {
    font-size: 30px;
}

#page .text-positioning {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page .next-chapter {
    display: none;
    opacity: 0;
    transition: opacity 2s;
    font-size: 30px;
}

#page a {
    font-size: 20px;
}

#page span {
    font-size: 17px;
}

#page a :hover {
    text-decoration: underline;
}

#page .ticket1 {
    width: 100%;
}

#page .ticketSpecial {
    width: 100%;
    transition: all 1.5s;
    box-shadow:0 0 10px beige ;
}

#page .ticketSpecial:hover {
    transform: scale(2);
    cursor: pointer;
}


#page ul {
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
}

#page li {
    display: block;
    border-radius: 2px;
    width: 100px;
    height: 100px;
    margin: 10px;
}

#page .poster-sizing {
    width: 80%;
    transition: opacity 3s;
}

#poster .poster-position {
    display: flex;
    justify-content: center;
}

#page .people-positioning {
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
}

#page .peoples {
    width:80%;
    height: 80%;
}

#page .people1 {
    opacity: 0;
    position: absolute;
    top: 45%;
    right: 44%;
    transition: opacity 2s;
}

#page .people1_2 {
    opacity: 0;
    position: absolute;
    top: 42%;
    right: 60%;
    transition: opacity 2s;
}

#page .people2 {
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 44%;
    transition: opacity 5s;
}

#page .people2_2 {
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 60%;
    transition: opacity 5s;
}

#page .floating {
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {

        transform: translatey(0px);
    }
    50% {

        transform: translatey(-20px);
    }
    100% {

        transform: translatey(0px);
    }
}

#page .restricted {
    position: absolute;
    height: 300px;
    width: 400px;
    top: 47%;
    right: 40%;
}

#page .entryZone {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 10%;
    right: 34%;
}

#page .inventions {
    position: absolute;
    width: 13%;
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

#page .rZone2 {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 46%;
    left: 35%;
}
